body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right,#b38753, #f5ce83);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1c0704;
}

/* Contenedor superior con título e imagen */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 10px;
}

/* Título */
.tituloPagina {
    font-size: 24px;
    font-weight: bold;
    color: #1c0704;
    filter: drop-shadow(-5px 10px 3px #77340f);
    text-shadow: -1px -1px 0 #a0835a,
                1px -1px 0 #a0835a,
                -1px 1px 0 #a0835a,
                1px 1px 0 #a0835a;
}

/* Imagen en la parte superior derecha */
.header-image img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    filter: drop-shadow(-10px 10px 10px #1c0704);
}

/* Adaptabilidad en móviles */
@media (max-width: 600px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tituloPagina {
        font-size: 20px;
    }

    .header-image img {
        width: 220px;
        margin-top: 10px;
    }
}

.filter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.filter-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 30%;
}

.filter-section h3 {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4d2b16;
}

.filter-container button {
    background-image: linear-gradient(to right,#b07131, #af8a58);
    border: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: #1c0704 2px solid;
}

.filter-container button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.monsters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
}

.mini-card {
    background-image: linear-gradient(to right,#b07131, #af8a58);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    border: #1c0704 2px solid;
}
@media (max-width: 406px) {
    .mini-card{
        width: 140px;
    }
}

.mini-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    filter: drop-shadow(-10px 10px 3px #1c0704);
}

.imagen-tarjeta {
    width: auto;
    height: auto;
    max-height: 325px;
    filter: drop-shadow(-25px 7px 10px #1c0704);
}

@media (max-width: 600px) {
    .imagen-tarjeta {
        width: auto;
        height: auto;
        max-width: 90%;
    }
    .modal-content {
        height: 90vh; /* Aumenta la altura manualmente */
        max-height: 90vh; /* Evita que se pase del 90% de la pantalla */
        overflow-y: auto; /* Permite desplazamiento si el contenido es demasiado grande */
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-image: linear-gradient(to right,#a0835a, #e2cc99);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    max-width: 70%;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

@media (min-width: 1024px) {
    .modal-content {
        flex-direction: row;
    }
}
@media (min-width: 700px ){
    .modal-content {
        flex-direction: row;
        max-width: 90%;
        max-height: 90%;
    }
    .imagen-tarjeta {
        width: auto;
        height: auto;
        max-height: 250px;
        filter: drop-shadow(-25px 7px 5px #1c0704);
    }
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
}

.botones1 {
    background-image: linear-gradient(to right, #1c0704, #644020);
    color: #d4cca0;
    border-color: #a0835a;
    cursor: pointer;
    border-radius: 10px;
    &:hover{
        background-image: linear-gradient(to right, #af8a58, #d4cca0);
        color: #1c0704;
        border-color: #1c0704;
    }
}